.track-input{
    width: 40%;
    padding-top: 20px;
}
.track-heading{
    text-align: center;
    padding-top: 20px;
}
.track-btn{
    text-align: center;
}
.track-card-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    padding-top: 20px;
}
.track-card{
    width:300px;
    margin: 20px 20px;
}

.log-div{
    width: 50%;
}

.log-heading{
    text-align: center;
    padding-top: 20px;
}

.log-btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.log-btn-group button{
    margin-left: 20px;
}

.log-entry-heading{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}
.entry-btn-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 800px) {
    .log-div{
        width: 90%;
    }
}

.a-title{
    color: #f3950d;
    font-size: 4rem;
    line-height: 1;
    padding: 20% 20% 0% 15%;
}

.about_introText{
    line-height:1.5;
    font-size: 1.8rem;
    color: white;
    margin: 5% 20% 5% 15%;  
    text-align: left;  

}

.nav-link{
    color: white;
    margin: 10px;
    font-size: large;
  }

.navbar-brand{
    color: white;
    font-size: 40px;
    margin-left: 30px;
}  

.about_button{
    font-size: large;
    border-radius: 5px;
    margin: 0% 20% 10% 15%; 
}