.track-input{
    width: 40%;
    padding-top: 20px;
}
.track-heading{
    text-align: center;
    padding-top: 20px;
}
.track-btn{
    text-align: center;
}
.track-card-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    padding-top: 20px;
}
.track-card{
    width:300px;
    margin: 20px 20px;
}

.log-div{
    width: 50%;
}

.log-heading{
    text-align: center;
    padding-top: 20px;
}

.log-btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.log-btn-group button{
    margin-left: 20px;
}

.log-entry-heading{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}
.entry-btn-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 800px) {
    .log-div{
        width: 90%;
    }
}

.home-img{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
 