{% extends 'base.html' %} {% block content %}


<section id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="57">
    <header class="text-center text-white d-flex masthead" style="background-image:url('main\static\home.png');">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase"><strong>Your all time tracker</strong></h1>
                    <hr>
                </div>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5"><br><strong><em>Privately track, monitor and analyze your mood and anything else in your life. It's like is a all time tracker for your daily need.</em></strong><br><br></p><a class="btn btn-primary btn-xl" role="button" href="#services">Find Out More</a>
            </div>
        </div>
    </header>
</section>

{% endblock content %}
