{% extends 'base.html' %} {% block content %}
<div class="container log-div">
  <div class="track_type log-heading">
    <h1>{{task.tracker_name}}</h1>
  </div>
  <form action="/log/{{task.sno}}" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"
        >Enter the task <title></title
      ></label>
      <input type="text" class="form-control" name="title" id="text-title" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Enter the value</label
      >
      <input
        type="text"
        class="form-control"
        name="value"
        id="exampleInputPassword1"
      />
    </div>
    <!-- <div>
        <label>Select a Date and time:</label>
        <input type = "date" name="date"><input type="time" name="time">
        </div> -->
    <label for="inputState" class="form-label">Type of variable</label>
    <input
      type="text"
      disabled="true"
      class="form-control"
      value="{{task.task_value_type}}"
    />
    <div class="log-btn-group">
      <button type="submit" class="btn btn-primary">Log Entry</button>
      <a href="/log/dashboard/{{task.sno}}" class="btn btn-primary mx-4">View Chart</a>
    </div>
  </form>
  <div class="log-entry-heading"><h2>Your logged entries</h2></div>
  {% if outputpage|length == 0 %}
  <div class="alert alert-dark" role="alert">
    No Task details found. Add your first task now!
  </div>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Task</th>
        <th scope="col">Task value</th>
        <th scope="col">Variable type</th>
        <th scope="col">Date and Time</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for inpt in outputpage %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{inpt.task_title}}</td>
        <td>{{inpt.task_value}}</td>
        <td>{{inpt.task_variable}}</td>
        <td>{{inpt.task_date}}</td>
        <td>
          <div class="entry-btn-group">
            <a
              href="/log/update/{{inpt.sno}}"
              type="button"
              class="btn btn-primary"
              >Update</a
            >
            <a
              href="/log/delete/{{inpt.sno}}"
              type="button"
              class="btn btn-danger"
              >Delete</a
            >
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% endblock content %}
