{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="track_type">
        <h1>update tasks</h1>
    </div>
    <form action="/log/update/{{taskupdate.sno}}" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Enter the task <title></title></label>
            <input type="text" class="form-control" name="title" id="text-title" value="{{taskupdate.task_title}}">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Enter the value</label>
            <input type="text" class="form-control" name="value" value="{{taskupdate.task_value}}">
        </div>
        <button type="submit" class="btn btn-primary">update</button>
    </form>
    <br><br>


</div>

{% endblock content %} 